    ul{
    	-webkit-padding-start:0px;
    }
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navc{
	width:50px;
}
.row{
	display: flex;
	justify-content: center;
}
/* ¿©±â´Â body */

.div_title{
	font-size: 25px;
	background-color: #535353;
	color : white;
	text-align: center;
	border-bottom: 1px solid black;
}
.movie_form{
	margin: 0px auto;
	position : relative;
    display: block;
    justify-content: center;
    height: 600px;
    width : 943px;
    border: 1px solid black;
}
.choice_movie{
	position: absolute;
	width:220px;
	height : 400px;
	left : 10px;
	top : 10px;
	border: 1px solid black;
}
.choice_place{
	position: absolute;
	width: 220px;
	height : 400px;
	left : 240px;
	top : 10px;
	border: 1px solid black;
}
.choice_date{
	position: absolute;
	width: 220px;
	left : 470px;
	top : 10px;
	height : 250px;
	border: 1px solid black;
	 
}
.choice_time{
	position: absolute;
	width: 230px;
	height : 250px;
	left : 700px;
	top : 10px;
	border: 1px solid black;
}
.choice_peoples{
	position: absolute;
	width: 460px;
	height : 140px;
	left : 470px; 
	top : 270px;
	border: 1px solid black;
}
.choice_movieinfo{
	display:flex;
	position: absolute;
	width: 450px;
	height : 170px;
	left : 10px; 
	top : 420px;
	border: 1px solid red;
}
.choice_submit{
	position: absolute;
	width: 460px;
	height : 170px;
	left : 470px; 
	top : 420px;
	border: 0px solid black;
}
li{
	list-style: none;
}
#writeTextarea{
	overflow: auto;
}
.fakeli{
	display: none;
}
.movie_tab_list{
	display: flex;
	margin-left: 40px;
	font-size:16pt;
	margin-bottom: -20px;
	margin-top:-10px;
}
a:link{
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.red {
	color: red;
}
.gray {
	color: gray;
}
.panel-heading{
	height:30px;
}
.panel-title1{
	margin-top: -3px;
}
.panel-title1 a{
	color:black;
}
.panel-title1 a:hover{
	color:black;
}
.movie_tab_button[aria-selected=true]
	{
	color: #000000;
}

.movie_tab_button {
	color: #b7b7b7;
	font-weight: 700;
}
.movie_tab{
	text-align: center;
	margin-top: 10px;
	font-size: 20pt;
}
a{
	font-size: 12pt;
}
}
.buttonsub{
	margin-bottom: 0px; 
}
.btn-danger{
	height : 72px;
}

.button1{
	margin-top: 15px;
	margin-right:5px;
	width: 30px;
	height: 30px;
}
.btn1{
	font-size : 13pt;
	font-weight:bold;
	margin-top: 17px;
	margin-left: 10px;
	padding-right: 20px;
	margin-bottom: 0px;
}

.movie_list_li{
	padding-left: 10px;
	font-size: 12pt;
	padding-top:2px;
	padding-bottom: 2px;
}
.movieinfos{
	margin-top: 8px;
}
.movieinfos li{
	margin: 8px 0px 8px 0px;
}
.movieinfos li span:nth-child(1){
	font-size :12pt;
	border: 1px solid black;
	background: lightgray;
	border-radius: 5px;
	padding: 3px;
}

.movieinfos li span:nth-child(2){
	font-size :12pt;
	padding: 3px;
}
.choice_place{
	font-size: 12pt;
}
.panel-collapse div ul li{
	font-size: 12pt;
}

#time1, #time2, #time3{
	font-size: 12pt;
	padding : 5px 0px 5px 5px;
}

/* animation */
#link {color: #E45635;display:block;font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center; text-decoration: none;}
#link:hover {color: #CCCCCC}

#link, #link:hover {-webkit-transition: color 0.5s ease-out;-moz-transition: color 0.5s ease-out;-ms-transition: color 0.5s ease-out;-o-transition: color 0.5s ease-out;transition: color 0.5s ease-out;}

/** BEGIN CSS **/
        body {background: #333333;}
        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-moz-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-webkit-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-o-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
        .loading-container,
        .loading {
            height: 100px;
            position: relative;
            width: 100px;
            border-radius: 100%;
        }


        .loading-container { margin: 40px auto }

        .loading {
            border: 2px solid transparent;
            border-color: transparent #000 transparent #FFF ;
            -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
            -moz-transform-origin: 50% 50%;
            -o-animation: rotate-loading 1.5s linear 0s infinite normal;
            -o-transform-origin: 50% 50%;
            -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
            -webkit-transform-origin: 50% 50%;
            animation: rotate-loading 1.5s linear 0s infinite normal;
            transform-origin: 50% 50%;
        }

       /*  .loading-container:hover .loading {
            border-color: transparent #E45635 transparent #E45635;
        } */
        .loading-container:hover .loading,
        .loading-container .loading {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        #loading-text {
            -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
            -o-animation: loading-text-opacity 2s linear 0s infinite normal;
            -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: #000000;
            font-family: "Helvetica Neue, "Helvetica", ""arial";
            font-size: 10px;
            font-weight: bold;
            margin-top: 45px;
            opacity: 100;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            width: 100px;
        }